body{
  font-family: 'Roboto', sans-serif;
}

header{
  margin: 0 auto;
}

.web-studio-black{
  color: var(--full-balck);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.02em;
}

.web-studio-white{
  width: 145px;
  height: 31px;
  color: var(--full-white);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.02em;  
}

.web{
  color: var(--text-blue);
}

.nav-menu{
  display: flex;
  margin-left: 93px;  
}

.nav-menu :not(:last-child),
.nav-contact :not(:last-child){
  padding-right: 30px;
}

.nav-menu > li > a{
  color: var(--title-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

.nav-menu > li > a:hover,
.nav-menu > li > a:focus{
  color: var(--text-blue);
}

.nav-contact-header{
  display: flex;  
  margin: 0 auto;   
}

.nav-contact-header > li > a{  
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nav-contact > li > a{
  color: var(--subtitle-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;  
}

.nav-contact > li > a:hover,
.nav-contact > li > a:focus{
  color: var(--text-blue);
}

.nav-contact > li:not(:last-child){
  margin-bottom: 9px;
}

.nav-contact-li{
  display: block;  
}

.nav-contact-icon{
  fill: currentColor;
  margin-right: 10px;
}

.footer-block{
  background-color: var(--bg-main-color);
  padding-top: 60px;
  padding-bottom: 60px;  
}

.footer-flexbox{
  display: flex;
  align-items: baseline;
}

#contacts{
  margin-top: 30px;
}

.footer-social-links-text{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--full-white);
  margin-bottom: 20px;
}

.footer-social-links{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-links > li:not(:last-child){
  margin-right: 10px;
}

.footer-social-links-container{
  margin-left: 70px;
}

.footer-social-links-item{
  background-color: var(--footer-social-links-bg);
  color: var(--full-white);
  border-radius: 50%;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-links-item:hover,
.footer-social-links-item:focus{
  background-color: var(--text-blue);
  cursor: pointer;
}

.footer-social-link-icon{
  fill: currentColor;
}

.street{
  color: var(--full-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;  
  letter-spacing: 0.02em;
  margin-bottom: 9px;
}

.nav-menu > li > .current{
  color: var(--text-blue);
}

.container{
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;  
}

.position-container{
  display: flex;
}

.header-nav{
  display: flex;
  align-items: center;  
  padding-top: 24px;
  padding-bottom: 25px;
}

.div-contact{
  display: flex;
  align-items: center;
  margin-left: 331px;    
}